:root {
  --purple: #780eea;
  --pink: #ec00c7;
  --dark-grey: #413C47;
  --light-grey: #faf9fa;
  background-color: var(--light-grey);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--light-grey);
}

.appForm {
  background-color: var(--light-grey);
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.formCentre {
  width: fit-content;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 7.5px;
  padding: 5%;
  background-color: var(--dark-grey);
}

.formTitle {
  color: var(--purple);
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: var(--purple);
  text-decoration: none;
  display: inline;
  font-size: 1.5em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLinkActive {
  color: var(--pink);
  border-bottom: 1px solid var(--pink);
}

.formFields {
}

.formFieldLabel {
  text-align: left;
  display: block;
  font-size: 1em;
  color: white;
  margin-bottom: 3px;
}

.formFieldInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid var(--pink);
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 20px;
}

.formFieldButton {
  width: 100%;
  background-color: var(--pink);
  color: white;
  border: none;
  outline: none;
  border-radius: 7.5px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: 500;
}
