:root {
  --primary: #7a01ff;
  --accent: #ff0184;
  --background-primary: white;
  --background-accent: #424242;
  --text-colour: white;
  background-color: var(--background-primary);
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--text-colour);
  background-color: var(--background-primary);
}

.appForm {
  background-color: var(--background-primary);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  overflow: auto;
}

.formCentre {
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 7.5px;
  padding: 3%;
  background-color: var(--background-accent);
}

.formTitle {
  color: var(--primary);
  font-weight: 300;
  margin-bottom: 50px;
}

.formTitleLink {
  color: var(--primary);
  text-decoration: none;
  display: inline;
  font-size: 1.5em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.formTitleLinkActive {
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}

.formFieldLabel {
  text-align: left;
  display: block;
  font-size: 1em;
  color: var(--text-colour);
  margin-bottom: 3px;
}

.formFieldInput {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--text-colour);
  outline: none;
  border-bottom: 1px solid var(--accent);
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 20px;
}

.formFieldButton {
  width: 100%;
  background-color: var(--accent);
  color: var(--text-colour);
  border: none;
  outline: none;
  border-radius: 7.5px;
  padding: 15px 70px;
  font-size: 1em;
  font-weight: 500;
}
